*{
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 15px 30px;
    padding: 10px;
}
.container{
    background-color: #f2e8e8;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgb(207, 110, 226);
    border-radius: 4px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select,textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(169, 231, 169);
    border-radius: 4px;
    margin-top: 5px;
}
fieldset{
    background-color: aliceblue;
    border: 1px solid rgb(153, 226, 153);
}
.main_heading{
    text-align: center;
}
input[type="submit"]{
    
    background-color: #3c6530;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: grab;
}
input[type="submit"]:hover{
    background-color: red;
}
.submit{
    text-align: center;
}
big{
    color: rgb(82, 82, 141);
}